<!doctype html>
<footer class="site-footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-column">
        <h4 data-translate-key="footer_nav_title">Navigation</h4>
        <ul>
          <li>
            <a href="#hero-section" data-translate-key="footer_nav_start"
              >Start</a
            >
          </li>
          <li>
            <a
              href="#calculator-section"
              data-translate-key="footer_nav_calculator"
              >Rechner</a
            >
          </li>

          <li class="faq-link-desktop">
            <a href="#hero-section" data-translate-key="footer_nav_faq">
              FAQ (Häufig gestellte Fragen)
            </a>
          </li>

          <li class="faq-link-mobil">
            <a href="#faq-mobil" data-translate-key="footer_nav_faq">
              FAQ (Häufig gestellte Fragen)
            </a>
          </li>

          <li>
            <a
              href="leichte-sprache.html"
              data-translate-key="footer_nav_easy_language"
            >
              Leichte Sprache
            </a>
          </li>

          <li>
            <a
              href="how-it-works.html"
              data-translate-key="footer_nav_how_it_works"
            >
              So funktioniert’s
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-column">
        <h4 data-translate-key="footer_legal_title">Rechtliches</h4>
        <ul>
          <li>
            <a href="impressum.html" data-translate-key="footer_legal_imprint"
              >Impressum</a
            >
          </li>
          <li>
            <a href="datenschutz.html" data-translate-key="footer_legal_privacy"
              >Datenschutz</a
            >
          </li>
        </ul>
      </div>

      <div class="footer-column">
        <h4 data-translate-key="header_title">Teilzeit-Ausbildungsrechner</h4>
        <p data-translate-key="footer_about_text">
          Ein Service zur einfachen Berechnung der Ausbildungsdauer in Teilzeit.
        </p>
      </div>
    </div>

    <div class="footer-bottom">
      <p class="footer-disclaimer" data-translate-key="footer_disclaimer">
        Hinweis: Die Ergebnisse dieses Rechners sind unverbindlich und dienen
        lediglich der Orientierung.
      </p>
      <p>
        &copy; 2025
        <span data-translate-key="footer_copyright">
          Team CodeCobra. Alle Rechte vorbehalten.
        </span>
      </p>
      <p
        class="footer-project-credit"
        data-translate-key="footer_project_credit"
      >
        Ein Laborprojekt im Rahmen des SEB-Studiengangs
      </p>
    </div>
  </div>
</footer>
