<!doctype html>
<head></head>
<header>
  <div class="container">
    <nav>
      <a href="index.html" class="logo-link" aria-label="Teilzeit-Ausbildungsrechner Startseite">
        <img
          src="/images/Logo.png"
          alt="Logo"
          class="logo"
          loading="eager"
        />
      </a>
      <div class="nav-buttons">
        <div class="language-selector">
          <a href="#" class="nav-btn" id="language-toggle">
            <img
              src="/src/assets/icons/globe.svg"
              alt=""
              aria-hidden="true"
              class="icon nav-icon"
            />
            <span data-translate-key="nav_language_button">Deutsch</span>
          </a>
          <div class="language-dropdown" id="language-menu">
            <a href="#" class="language-option"
              ><img src="/src/assets/icons/de.svg" alt="Deutsche Flagge" /><span
                >DE</span
              ></a
            >
            <a href="#" class="language-option"
              ><img
                src="/src/assets/icons/gb.svg"
                alt="Englische Flagge"
              /><span>EN</span></a
            >
          </div>
        </div>

        <a href="#" class="nav-btn" id="easy-language-toggle">
          <img
            src="/src/assets/icons/book-alt.svg"
            alt=""
            aria-hidden="true"
            class="icon nav-icon"
          />
          <span data-translate-key="nav_easy_language">Leichte Sprache</span>
        </a>
      </div>
    </nav>
  </div>
</header>
