<!doctype html>
<header>
  <h1>Teilzeit-Ausbildungs&shy;rechner</h1>
  <p>Wie lange dauert deine Ausbildung? Finde es hier sofort heraus.</p>
</header>

<div class="progress-container">
  <div class="progress-line-bg"></div>
  <div class="progress-line-fill" id="progress-line"></div>
  <div class="step active" data-step="1">
    <span class="icon-step" aria-hidden="true">
      <img src="/src/assets/icons/house.svg" alt="" class="icon" />
    </span>
    <p>Start</p>
  </div>
  <div class="step" data-step="2">
    <span class="icon-step" aria-hidden="true">
      <img src="/src/assets/icons/settings-sliders.svg" alt="" class="icon" />
    </span>
    <p>Dauer anpassen</p>
  </div>
  <div class="step" data-step="3">
    <span class="icon-step" aria-hidden="true">
      <img src="/src/assets/icons/chat-arrow-grow.svg" alt="" class="icon" />
    </span>
    <p>Ergebnisse</p>
  </div>
</div>

<main class="calculator-form" id="step-1">
  <h2>1. Basis Daten</h2>

  <div class="input-group">
    <div class="input-container-nested">
      <div class="input-prefix">
        <img
          src="/src/assets/icons/business-time.svg"
          alt=""
          class="icon icon-inline"
        />Übliche Stunden pro Woche (Vollzeit)
      </div>
      <input
        type="number"
        id="vollzeitstunden"
        placeholder="40"
        min="35"
        max="40"
        step="0.5"
      />
    </div>
    <div class="info-icon-wrapper">
      <img
        src="/src/assets/icons/information.svg"
        alt=""
        class="icon info-icon"
      />
      <div class="info-box">
        💬 Wie viele Stunden pro Woche wird in Ihrem Unternehmen gearbeitet,
        wenn man vollzeitbeschäftigt ist?.
      </div>
    </div>
    <div class="validation-popup" id="vollzeitstunden-error">
      <img
        src="/src/assets/icons/time-quarter-to.svg"
        alt=""
        class="icon icon-warning"
      />
      <span></span>
    </div>
  </div>

  <div class="input-group">
    <div class="input-container-nested">
      <div class="input-prefix">
        <img
          src="/src/assets/icons/user-time.svg"
          alt=""
          class="icon icon-inline"
        />Gewünschte Stunden pro Woche (Teilzeit)
      </div>
      <input
        type="number"
        id="wochenstunden"
        placeholder="20"
        min="20"
        max="35"
        step="0.5"
      />
    </div>
    <div class="info-icon-wrapper">
      <img
        src="/src/assets/icons/information.svg"
        alt=""
        class="icon info-icon"
      />
      <div class="info-box">
        💬 Wie viele Stunden pro Woche möchten Sie während Ihrer
        Teilzeitausbildung arbeiten?
      </div>
    </div>
    <div class="validation-popup" id="wochenstunden-error">
      <img
        src="/src/assets/icons/time-quarter-to.svg"
        alt=""
        class="icon icon-warning"
      />
      <span></span>
    </div>
  </div>

  <div class="input-group">
    <div class="input-container-nested">
      <div class="input-prefix">
        <img
          src="/src/assets/icons/calendar.svg"
          alt=""
          class="icon icon-inline"
        />Dauer der Ausbildung in Monate (Vollzeit)
      </div>
      <select id="ausbildungsdauer">
        <option value="24">24</option>
        <option value="36" selected>36</option>
        <option value="42">42</option>
      </select>
    </div>
    <div class="info-icon-wrapper">
      <img
        src="/src/assets/icons/information.svg"
        alt=""
        class="icon info-icon"
      />
      <div class="info-box">
        💬 Wie viele Monate dauert Ihre Ausbildung insgesamt normalerweise?
      </div>
    </div>
  </div>

  <div class="input-group radio-card-group">
    <div class="radio-card-container">
      <div class="radio-card-header">
        <img
          src="/src/assets/icons/time-quarter-to.svg"
          alt=""
          class="icon icon-inline"
        />
        <h4>Wie möchtest du deine Ausbildung absolvieren?</h4>
      </div>
      <div class="radio-card-body">
        <label class="radio-card-option">
          <input type="radio" name="part-time-start-radio" value="0" checked />
          <span class="radio-custom"></span
          ><span class="radio-label"
            >Ich beginne <strong>direkt in Teilzeit</strong></span
          >
        </label>
        <label class="radio-card-option">
          <input type="radio" name="part-time-start-radio" value="1" />
          <span class="radio-custom"></span
          ><span class="radio-label"
            >Erst Vollzeit, <strong>später Teilzeit</strong></span
          >
        </label>
      </div>

      <div
        class="card-line-separator hidden"
        id="vollzeit-monate-separator"
      ></div>

      <div class="input-container-nested hidden" id="vollzeit-monate-input">
        <div class="input-prefix">
          <img
            src="/src/assets/icons/calendar.svg"
            alt=""
            class="icon icon-inline"
          />
          Monate in Vollzeit
        </div>
        <input
          type="number"
          id="vollzeit-monate"
          placeholder="6"
          style="width: 80px"
          min="1"
        />
      </div>
      <div class="validation-popup" id="vollzeit-monate-error">
        <img
          src="/src/assets/icons/time-quarter-to.svg"
          alt=""
          class="icon icon-warning"
        />
        <span></span>
      </div>
    </div>
    <div class="info-icon-wrapper">
      <img
        src="/src/assets/icons/information.svg"
        alt=""
        class="icon info-icon"
      />
      <div class="info-box">
        💬 Wie viele Monate in Vollzeit möchten sie zuerst absolvieren bzw.
        haben Sie bereits hinter sich?
      </div>
    </div>
    <select
      name="part-time-start"
      id="part-time-start-select"
      style="display: none"
    >
      <option value="0" selected>Direkt Teilzeit</option>
      <option value="1">Wechsel später</option>
    </select>
  </div>

  <div class="form-buttons">
    <button class="secondary" disabled>Zurück</button>
    <button class="primary" id="next-btn-1">Weiter</button>
  </div>
</main>

<main class="calculator-form hidden" id="step-2">
  <h2>2. Prüfe deine mögliche Verkürzung</h2>

  <div class="input-group radio-card-group">
    <div class="radio-card-container">
      <div class="radio-card-header">
        <img
          src="/src/assets/icons/cake-birthday.svg"
          alt=""
          class="icon icon-inline"
        />
        <h4>Bist du älter als 21?</h4>
      </div>
      <div class="radio-card-body">
        <label class="radio-card-option">
          <input type="radio" name="age-radio" value="0" checked />
          <span class="radio-custom"></span
          ><span class="radio-label">Nein</span>
        </label>
        <label class="radio-card-option">
          <input type="radio" name="age-radio" value="12" />
          <span class="radio-custom"></span><span class="radio-label">Ja</span>
        </label>
      </div>
    </div>
    <div class="info-icon-wrapper">
      <img
        src="/src/assets/icons/information.svg"
        alt=""
        class="icon info-icon"
      />
      <div class="info-box">
        💬 Eine Verkürzung ist möglich, wenn Sie zu Beginn der Ausbildung über
        21 Jahre alt sind.
      </div>
    </div>
    <select name="age" id="age-select" style="display: none">
      <option value="0" selected>Nein</option>
      <option value="12">Ja</option>
    </select>
  </div>

  <div class="input-group radio-card-group">
    <div class="radio-card-container">
      <div class="radio-card-header">
        <img
          src="/src/assets/icons/school.svg"
          alt=""
          class="icon icon-inline"
        />
        <h4>Was ist dein höchster Schulabschluss?</h4>
      </div>
      <div class="radio-card-body">
        <label class="radio-card-option">
          <input type="radio" name="school-finish-radio" value="0" checked />
          <span class="radio-custom"></span
          ><span class="radio-label">Keinen der genannten</span>
        </label>
        <label class="radio-card-option">
          <input type="radio" name="school-finish-radio" value="0" />
          <span class="radio-custom"></span
          ><span class="radio-label">Hauptschulabschluss</span>
        </label>
        <label class="radio-card-option">
          <input type="radio" name="school-finish-radio" value="6" />
          <span class="radio-custom"></span
          ><span class="radio-label">Mittlere Reife</span>
        </label>
        <label class="radio-card-option">
          <input type="radio" name="school-finish-radio" value="12" />
          <span class="radio-custom"></span
          ><span class="radio-label">Fachhochschulreife / Abitur</span>
        </label>
      </div>
    </div>
    <div class="info-icon-wrapper">
      <img
        src="/src/assets/icons/information.svg"
        alt=""
        class="icon info-icon"
      />
      <div class="info-box">
        💬 Höhere Abschlüsse können eine Verkürzung ermöglichen – wähle deinen
        höchsten Abschluss.
      </div>
    </div>
    <select id="school-finish" style="display: none">
      <option value="0" selected>Keiner/Hauptschule</option>
      <option value="6">Mittlere Reife</option>
      <option value="12">Abitur/Fachhochschulreife</option>
    </select>
  </div>

  <div class="input-group radio-card-group">
    <div class="radio-card-container">
      <div class="radio-card-header">
        <img
          src="/src/assets/icons/corporate-alt.svg"
          alt=""
          class="icon icon-inline"
        />
        <h4>
          Hast du schon erste relevante Berufserfahrungen gesammelt (z. B. in
          einem Praktikum)?
        </h4>
      </div>
      <div class="radio-card-body">
        <label class="radio-card-option">
          <input type="radio" name="experience-radio" value="0" checked />
          <span class="radio-custom"></span
          ><span class="radio-label">Nein</span>
        </label>
        <label class="radio-card-option">
          <input type="radio" name="experience-radio" value="12" />
          <span class="radio-custom"></span><span class="radio-label">Ja</span>
        </label>
      </div>
    </div>
    <div class="info-icon-wrapper">
      <img
        src="/src/assets/icons/information.svg"
        alt=""
        class="icon info-icon"
      />
      <div class="info-box">
        💬 Praktische Erfahrungen, z. B. aus Praktika, können auf die
        Ausbildungszeit angerechnet werden.
      </div>
    </div>
    <select name="experience" id="experience-select" style="display: none">
      <option value="0" selected>Nein</option>
      <option value="12">Ja</option>
    </select>
  </div>

  <div class="input-group radio-card-group">
    <div class="radio-card-container">
      <div class="radio-card-header">
        <img
          src="/src/assets/icons/tools.svg"
          alt=""
          class="icon icon-inline"
        />
        <h4>Hast du bereits eine Ausbildung abgeschlossen?</h4>
      </div>
      <div class="radio-card-body">
        <label class="radio-card-option">
          <input type="radio" name="apprenticeship-radio" value="0" checked />
          <span class="radio-custom"></span
          ><span class="radio-label">Nein</span>
        </label>
        <label class="radio-card-option">
          <input type="radio" name="apprenticeship-radio" value="12" />
          <span class="radio-custom"></span><span class="radio-label">Ja</span>
        </label>
      </div>
    </div>
    <div class="info-icon-wrapper">
      <img
        src="/src/assets/icons/information.svg"
        alt=""
        class="icon info-icon"
      />
      <div class="info-box">
        💬 Eine passende, abgeschlossene Ausbildung kann die Dauer deutlich
        reduzieren.
      </div>
    </div>
    <select
      name="apprenticeship"
      id="apprenticeship-select"
      style="display: none"
    >
      <option value="0" selected>Nein</option>
      <option value="12">Ja</option>
    </select>
  </div>

  <div class="input-group radio-card-group">
    <div class="radio-card-container">
      <div class="radio-card-header">
        <img
          src="/src/assets/icons/graduation-cap.svg"
          alt=""
          class="icon icon-inline"
        />
        <h4>
          Hast du im Studium Kurse belegt, die für die Ausbildung relevant sind?
        </h4>
      </div>
      <div class="radio-card-body">
        <label class="radio-card-option">
          <input type="radio" name="study-radio" value="0" checked />
          <span class="radio-custom"></span
          ><span class="radio-label">Nein</span>
        </label>
        <label class="radio-card-option">
          <input type="radio" name="study-radio" value="12" />
          <span class="radio-custom"></span><span class="radio-label">Ja</span>
        </label>
      </div>
    </div>
    <div class="info-icon-wrapper">
      <img
        src="/src/assets/icons/information.svg"
        alt=""
        class="icon info-icon"
      />
      <div class="info-box">
        💬 Beispiel: Informatik-Kurse, wie z. B. Programmierung oder
        Webentwicklung können für die Fachinformatiker-Ausbildung anerkannt
        werden.
      </div>
    </div>
    <select name="study" id="study-select" style="display: none">
      <option value="0" selected>Nein</option>
      <option value="12">Ja</option>
    </select>
  </div>

  <div class="input-group radio-card-group">
    <div class="radio-card-container">
      <div class="radio-card-header">
        <img
          src="/src/assets/icons/child.svg"
          alt=""
          class="icon icon-inline"
        />
        <h4>Hast du Kinder, um die du dich kümmerst?</h4>
      </div>
      <div class="radio-card-body">
        <label class="radio-card-option">
          <input type="radio" name="child-care-radio" value="0" checked />
          <span class="radio-custom"></span
          ><span class="radio-label">Nein</span>
        </label>
        <label class="radio-card-option">
          <input type="radio" name="child-care-radio" value="12" />
          <span class="radio-custom"></span><span class="radio-label">Ja</span>
        </label>
      </div>
    </div>
    <div class="info-icon-wrapper">
      <img
        src="/src/assets/icons/information.svg"
        alt=""
        class="icon info-icon"
      />
      <div class="info-box">
        💬 Elternschaft oder die Betreuung von Kindern kann die Ausbildung unter
        Umständen verkürzen.
      </div>
    </div>
    <select name="child-care" id="child-care-select" style="display: none">
      <option value="0" selected>Nein</option>
      <option value="12">Ja</option>
    </select>
  </div>

  <div class="input-group radio-card-group">
    <div class="radio-card-container">
      <div class="radio-card-header">
        <img
          src="/src/assets/icons/old-people.svg"
          alt=""
          class="icon icon-inline"
        />
        <h4>Pflegst du Angehörige (z. B. deine Großeltern)?</h4>
      </div>
      <div class="radio-card-body">
        <label class="radio-card-option">
          <input type="radio" name="family-care-radio" value="0" checked />
          <span class="radio-custom"></span
          ><span class="radio-label">Nein</span>
        </label>
        <label class="radio-card-option">
          <input type="radio" name="family-care-radio" value="12" />
          <span class="radio-custom"></span><span class="radio-label">Ja</span>
        </label>
      </div>
    </div>
    <div class="info-icon-wrapper">
      <img
        src="/src/assets/icons/information.svg"
        alt=""
        class="icon info-icon"
      />
      <div class="info-box">
        💬 Als Angehörige gelten Personen, die auf Pflege oder Unterstützung
        angewiesen sind, z. B. ältere Menschen, Menschen mit Behinderung oder
        sonst hilfsbedürftige Personen.
      </div>
    </div>
    <select name="family-care" id="family-care-select" style="display: none">
      <option value="0" selected>Nein</option>
      <option value="12">Ja</option>
    </select>
  </div>

  <div class="form-buttons">
    <button class="secondary" type="button" id="back-btn-2">Zurück</button>
    <button class="primary" id="next-btn-2">Weiter</button>
  </div>
</main>

<main class="calculator-form hidden" id="step-3">
  <h2>3. Ergebnisse</h2>
  <div class="results-container">
    <div class="result-card served-time-card" style="display: none">
      <div class="result-card-left">
        <span class="result-card-title">geplante<br />Vollzeit-Phase</span>
        <span class="result-card-number" id="served-card-value">--</span>
        <span class="result-card-unit">Monate</span>
      </div>
      <div class="result-card-right">
        <p class="result-card-header-info">
          <strong>Vollzeit am Anfang deiner Ausbildung</strong>
        </p>
        <hr class="card-divider" />
        <div id="detailed-served-time-card">
          <p>
            Diese Monate planst du am Anfang in Vollzeit, bevor du in Teilzeit
            wechselst.
          </p>
        </div>
      </div>
    </div>

    <div class="result-card">
      <div class="result-card-left">
        <span class="result-card-title">Gesamte<br />Verkürzung</span>
        <span class="result-card-number" id="shortening-card-value">--</span>
        <span class="result-card-unit">Monate</span>
      </div>
      <div class="result-card-right">
        <p class="result-card-header-info">
          Reguläre Dauer (Vollzeit):
          <strong id="original-duration-header">-- Monate</strong>
        </p>
        <hr class="card-divider" />
        <div id="detailed-shortenings-card">
          <p>Hier werden die Gründe für die Verkürzung aufgelistet.</p>
        </div>
      </div>
    </div>

    <div class="result-card new-full-time-card" style="display: none">
      <div class="result-card-left">
        <span class="result-card-title"
          >Verbleibende<br />Dauer (Vollzeit)</span
        >
        <span class="result-card-number" id="new-full-time-card-value">--</span>
        <span class="result-card-unit">Monate</span>
      </div>
      <div class="result-card-right">
        <p class="result-card-header-info">
          <strong>Restliche Dauer in Vollzeit</strong>
        </p>
        <hr class="card-divider" />
        <div id="detailed-new-full-time-card">
          <p>
            Dies ist die verbleibende Restdauer in Vollzeit (nach Anrechnung und
            Abzug der geleisteten Zeit).
          </p>
        </div>
      </div>
    </div>

    <div class="result-card part-time-card">
      <div class="result-card-left">
        <span class="result-card-title">Verlängerung durch Teilzeit</span>
        <span class="result-card-number" id="extension-card-value">--</span>
        <span class="result-card-unit">Monate</span>
      </div>
      <div class="result-card-right">
        <p class="result-card-header-info">
          <strong>Anpassung der Restlaufzeit</strong>
        </p>
        <hr class="card-divider" />
        <div id="detailed-part-time-card">
          <p>Hier steht die Erklärung zur Teilzeit-Anpassung.</p>
        </div>
      </div>
    </div>

    <div class="chart-container">
      <canvas id="results-chart"></canvas>
    </div>
    <div class="final-result-box">
      <span class="result-label">Gesamtausbildungsdauer ab Beginn</span>
      <span class="result-value" id="final-duration-result">-- Monate</span>
    </div>
  </div>

  <p class="disclaimer">
    <strong>Bitte beachten Sie:</strong> Die Ergebnisse dienen lediglich zur
    Orientierung und begründen keinen Rechtsanspruch.<br /><br />
    Eine detaillierte Erklärung zur Berechnung finden Sie auf unserer Seite
    <a href="how-it-works.html">„So funktioniert's“</a>.<br />
  </p>

  <div class="form-buttons">
    <button class="secondary" id="back-btn-3">Zurück</button>
    <button class="primary pdf-btn">
      <img src="/src/assets/icons/tools.svg" alt="" class="icon icon-inline" />
      Als PDF ausdrucken
    </button>
  </div>
</main>

<style>
  .hidden {
    display: none !important;
  }
</style>
