.input-group input.invalid {
  border-color: #e74c3c;
  box-shadow: 0 0 0 2px rgba(231, 76, 60, 0.2);
}

.input-group {
  position: relative;
}
.radio-card-container {
  position: relative;
  padding-bottom: 5px;
}

.validation-popup {
  position: absolute;
  z-index: 10;
  width: auto;
  white-space: nowrap;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 6px;
  padding: 10px 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-5px);
  transition:
    opacity 0.2s ease-out,
    transform 0.2s ease-out,
    visibility 0.2s;
}

.validation-popup.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.validation-popup .icon-warning {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  flex-shrink: 0;
  filter: brightness(0) invert(1);
}
.validation-popup span {
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
}

.validation-popup::before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 50px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent var(--primary);
  z-index: 11;
}
.validation-popup::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 49px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent var(--primary);
  z-index: 10;
}

#vollzeitstunden-error,
#wochenstunden-error {
  top: calc(100% - 8px);
  right: 45px;
  margin-top: 0;
}

#vollzeit-monate-error {
  top: auto;
  bottom: -22px;
  right: 45px;
}

@media (max-width: 500px) {
  .validation-popup {
    left: 20px;
    right: 20px;
    width: auto;
    white-space: normal;
  }

  .validation-popup::before {
    left: 30px;
    right: auto; /* Hebt die 'right'-Regel auf */
  }
  .validation-popup::after {
    left: 29px;
    right: auto; /* Hebt die 'right'-Regel auf */
  }

  #vollzeitstunden-error,
  #wochenstunden-error,
  #vollzeit-monate-error {
    left: 20px;
    right: 20px;
  }
}

